div.bigbox
{
	border-style:solid;
	border-width:1px;
	border-color:#FF00FF;
	margin-left:auto;
	margin-right:auto;
	width:500px;
	height:300px;
}

h3.heading
{
	text:{
		align:center;
		decoration:underline;
	}
	color:#AAAAAA;
	font-style:bold;
}

p.bp
{
	text-align:center;
	margin-left:50px;
	margin-right:50px;
	color:blue;
}